ADf_Sanket/pipeline/PL_EXT_FILE_SRC_TO_RAW.json
{
	"name": "PL_EXT_FILE_SRC_TO_RAW",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_META_SRC_FLAT",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LS_ADLS_SRC_GEN2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ACT_ITRC_FOR_SRC_RAW",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_GEN_META_SRC_FLAT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GEN_META_SRC_FLAT').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_GEN_LKP_CONFIG",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CT_GET_META_FILE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT LastProcessedValue\nFROM WatermarkTable\nWHERE FileName = '@{item().name}'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQL_METADATA",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "CT_GET_META_FILE",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "FileName"
								}
							],
							"typeProperties": {
								"dataset": {
									"referenceName": "LS_ADLS_SRC_GEN2",
									"type": "DatasetReference"
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "ACT_ITRC_IF_SRC_FLAT",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "ACT_GEN_LKP_CONFIG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(\n    activity('ACT_GEN_META_SRC_FLAT').output.lastModified,\n    activity('CT_GET_META_FILE').output.firstRow.LastProcessedValue\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ACT_MT_Copy_FLAT",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFolderPath": "blobsalessanket/source",
													"wildcardFileName": "*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "PreserveHierarchy"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "LS_ABLB_RAW_FLAT",
												"type": "DatasetReference",
												"parameters": {
													"Name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "LS_ADLS_SRC_GEN2",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "ACT_GEN_SPRC_FLAT",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "ACT_MT_Copy_FLAT",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_UpdateFileWatermark]",
											"storedProcedureParameters": {
												"FileName": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "Int16"
												},
												"LastModified": {
													"value": {
														"value": "@activity('CT_GET_META_FILE').output.lastModified",
														"type": "Expression"
													},
													"type": "Datetime"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SRC_SQL",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "adf_pipeline"
		},
		"annotations": []
	}
}