ADf_Sanket/pipeline/PL_EXT_SQL_SRC_TO_RAW_FULL.json
{
	"name": "PL_EXT_SQL_SRC_TO_RAW_FULL",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_META_SRC_FILE",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LS_ABLB_RAW_FLAT",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ACT_ITRC_FOR_FILE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_GEN_META_SRC_FILE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GEN_META_SRC_FILE').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_GEN_META_FILE2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "LS_ADLS_SRC_GEN2",
									"type": "DatasetReference"
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "ACT_GEN_LKP",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "ACT_GEN_META_FILE2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\n  'SELECT COALESCE(MAX(LastProcessedValue), ''2024-09-15 05:00:00.000'') AS max_date \n   FROM WatermarkTable\n   WHERE LOWER(TRIM(Table_Name)) = LOWER(TRIM(''', item().name, '''))'\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQL_METADATA",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "ACT_ITRC_IF",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "ACT_GEN_LKP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(\n    activity('ACT_GEN_META_FILE2').output.lastModified,\n     activity('ACT_GEN_LKP').output.firstRow.max_date\n    )\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ACT_MT_Copy_",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "PreserveHierarchy"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "LS_ABLB_RAW_FLAT",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "LS_ADLS_SRC_GEN2",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "ACT_GEN_SPRC",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "ACT_MT_Copy_",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[UpdateWatermark]",
											"storedProcedureParameters": {
												"Table_Name": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"LastProcessedValue": {
													"value": {
														"value": "@activity('ACT_GEN_META_FILE2').output.lastModified",
														"type": "Expression"
													},
													"type": "Datetime"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SRC_SQL",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "adf_pipeline"
		},
		"annotations": []
	}
}